* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; }

.navbar {
  justify-content: space-between; }

.navbar-brand {
  margin-left: 20px; }

/* lo hago para que el nav me aparezca del lado derecho*/
.navbar-nav {
  justify-content: end; }

/* lo hago para que el nav me aparezca del lado derecho*/
body {
  height: 100%; }

.logo {
  padding: 10px;
  margin-left: 30px;
  height: 70px; }

nav {
  margin-right: 30px; }

.menu .menu__links {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  padding: 0.2em; }

.menu .menu__links:hover {
  border-bottom: 3px solid #F68E34; }

/* BANNER */
.slider .slider__titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  text-align: center;
  color: white;
  letter-spacing: 10%;
  z-index: 100; }

.slider .slider__uno, .slider .slider__dos, .slider .slider__tres {
  background-image: url("../images/carouselUno.png");
  height: 800px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.slider .slider__dos {
  background-image: url("../images/carouselDos.png"); }

.slider .slider__tres {
  background-image: url("../images/carouselTres.png"); }

.containerPasos {
  height: 350px;
  background-color: #838383;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .containerPasos .containerPasosImg {
    /* si es diferente de blanco pongo los iconos blancos con filter*/
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 900; }
    .containerPasos .containerPasosImg img {
      filter: invert(1); }
    .containerPasos .containerPasosImg img {
      margin: 10px;
      width: 90px; }
    .containerPasos .containerPasosImg .lampara {
      width: 60px; }
    .containerPasos .containerPasosImg .flecha {
      height: 70px; }

.counter-up {
  width: 100%;
  background-color: grey;
  height: 300px;
  margin-bottom: 100px; }
  .counter-up .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly; }
    .counter-up .content .box {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 20px;
      flex-direction: column; }
      .counter-up .content .box .icon {
        font-size: 40px;
        color: white; }
      .counter-up .content .box .counter {
        font-size: 50px;
        color: white; }
      .counter-up .content .box .text {
        font-weight: 400;
        color: white; }

.card {
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1); }

.card-title {
  text-align: center; }

.containerCards {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15vw;
  margin-right: 15vw; }

/* FOOTER */
footer .piePagina {
  display: flex;
  justify-content: space-around;
  height: 400px;
  background-image: linear-gradient(#4B4B4D, #3d3d3d);
  color: white;
  font-size: 20px;
  border-top: solid;
  border-width: 4px;
  border-color: #F68E34; }
  footer .piePagina .piePagina__redes {
    display: flex;
    margin-top: 50px; }
    footer .piePagina .piePagina__redes i {
      margin: 20px; }
    footer .piePagina .piePagina__redes p {
      margin: 15px;
      display: inline-block; }
    footer .piePagina .piePagina__redes ul {
      list-style-type: none;
      margin: 15px; }
  footer .piePagina .piePagina__contacto {
    margin-top: 50px; }
    footer .piePagina .piePagina__contacto p {
      margin: 15px;
      display: inline-block; }
    footer .piePagina .piePagina__contacto ul {
      list-style-type: none;
      margin: 15px; }
  footer .piePagina .piePagina__newsletter {
    margin-top: 65px; }
    footer .piePagina .piePagina__newsletter .inputNews {
      height: 50px;
      width: 300px;
      font-size: 20px;
      border-radius: 5px; }
    footer .piePagina .piePagina__newsletter .inputButtom {
      height: 48px;
      font-size: 20px; }

footer .copyright {
  width: 100%;
  height: 70px;
  padding: 20px;
  text-align: center;
  background-color: #333333;
  color: white; }

/* SERVICIOS */
.contenedorServicio {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 12vw;
  margin-right: 12vw; }
  .contenedorServicio .servicio {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 1800px;
    background-color: #F3F3F3;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.15); }
    .contenedorServicio .servicio .servicio__titulo {
      padding-left: 40px;
      padding-top: 30px;
      font-size: 35px; }
    .contenedorServicio .servicio .servicio__texto {
      text-align: justify;
      padding: 40px;
      font-size: 20px; }
    .contenedorServicio .servicio .contenedor {
      width: 550px;
      height: 270px; }
    .contenedorServicio .servicio .contenido {
      height: 100%;
      object-fit: cover; }

.contenedorMateriales {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .contenedorMateriales .contenedorMateriales__filamentos {
    width: 900px;
    margin-top: 24vh; }

.encabezadoTabla {
  background-color: #C4C4C4;
  text-decoration: underline #F68E34; }

td {
  background-color: #EAEAEA; }

table {
  background-color: #EAEAEA;
  margin: 2rem;
  display: inline-block;
  font-size: 30px;
  text-align: center; }

form {
  font-size: 28px; }

/* CONTACTO */
.bannerContacto {
  width: 100%;
  height: 600px;
  background-image: url("../images/banner.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  .bannerContacto h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vw; }

.contenedorContacto {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }
  .contenedorContacto .contenedorTexto {
    text-align: start;
    width: 500px; }

.contenedorInformacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; }
  .contenedorInformacion i {
    margin: 20px; }
  .contenedorInformacion p {
    margin: 15px;
    display: inline-block; }
  .contenedorInformacion ul {
    list-style-type: none;
    margin: 15px; }

.form-group {
  font-size: 20px;
  margin: 12px; }
  .form-group input, .form-group textarea {
    width: 30vw;
    max-width: 700px; }
  .form-group textarea {
    height: 200px; }

.contenedorFormulario button {
  margin: 12px;
  width: 150px; }

.contenedorImagenContacto {
  margin: 40px;
  width: 35vw;
  height: 536px;
  border-radius: 7px; }

.contenedorFormulario {
  margin: 40px; }

.imagenContacto {
  object-fit: cover; }

/*intente reutilizar el codigo para los dos inputs pero no me funcionaba*/
input[type=submit] {
  width: 140px;
  height: 40px;
  background-color: #F68E34;
  color: white;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #da7823; }

@media only screen and (max-width: 765px) {
  .titulo {
    font-size: 36px; }
  .piePagina {
    height: 500px; }
  .piePagina__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .piePagina__redes i {
      margin: 20px; }
    .piePagina__redes .piePagina__copyright {
      margin: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: inline-block; }
  .piePagina__newsletter {
    display: none; }
  .counter-up {
    padding: 50px, 50px 0 50px;
    height: 550px; }
    .counter-up .content .box {
      width: calc(50% - 30px);
      margin-bottom: 50px; }
  .contenedorImagenContacto {
    width: 85vw; }
  .contenedorContacto {
    flex-direction: column; }
  .form-group input, .form-group textarea {
    width: 80vw;
    max-width: 700px; }
    .form-group input textarea,
    .form-group textarea textarea {
      height: 100px; }
  .contenedorMateriales {
    align-items: center;
    flex-direction: column-reverse; }
    .contenedorMateriales .contenedorMateriales__filamentos {
      width: 600px;
      margin-top: 10vh; }
  .containerPasos {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
    margin-bottom: 100px;
    flex-direction: column;
    font-size: 10px; }
    .containerPasos .containerPasosImg {
      text-align: center;
      font-weight: 900; }
      .containerPasos .containerPasosImg img {
        margin: 10px;
        width: 90px; }
      .containerPasos .containerPasosImg .lampara {
        width: 60px; }
      .containerPasos .containerPasosImg .flecha {
        transform: rotate(90deg);
        height: 80px; } }
